<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Hello-Series">Hello-Series</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Flask-Series">Flask-Series</a>
            </li>
        </ul>
    </div>
</nav>


{% block homecontent %}
{% endblock %}
{% block helloseries %}
{% endblock %}


<div class="footer">
    <p class="footer-padding">Anthony</p>
    <a href="https://www.instagram.com/agiust576/"><i style="color:white; position:absolute; top:15px; right:47%; " class="fab fa-instagram"></i></a>
    <p class="footer-padding">Dylan</p>
    <a href=""><i style="color:white; position:absolute; top:64px; right:47.5%; " class="fab fa-instagram"></i></a>
    <p class="footer-padding">Tyler</p>
    <a href=""><i style="color:white; position:absolute; top:113px; right:47.8%; " class="fab fa-instagram"></i></a>

</div>
</body>
</html>