<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask-Series Project</title>
    <style>
        .button {
            background-color: mediumseagreen;
            border: 1px solid white;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            display: block;
            margin-left: auto;
            margin-right: auto;
           }
    </style>
</head>
<body>
<div>
    <b><center><h1 style="position:relative; top:450px; font-size:50px; color:#FFC145" >Flask</h1></center>
        <center><a href="https://github.com/NiharMarar/CypherCyrptoWebProject2" class="button" style="position:relative; top:460px;" >Github</a></center>
        <center><a href="https://docs.google.com/document/d/1OnqZgwSPUVqhQjRoXzFK5pAXBNTmBkxvg4pzIl3ZNvg/edit?usp=sharing" class="button" style="position:relative; top:393px; right:-180px;">Project Scope</a></center>
        <center><a href="https://padlet.com/jmortensen7/csp2021" class="button" style="position:relative; top:324px; right:170px;">Resources</a>
        </center></b>
</div>
</body>
</html>